@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    font-family: poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #F3F8FF;
}


nav {
    top: 0;
    position: fixed;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
}


#logo
{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 83px;
    width: auto;
}
    
.navcontainer
{
    max-width: 1140px;
    margin: auto;
    align-items: center;
    display: flex;
}


.navcontainer a
{
    background-color: #fff;
    font-size: large;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    padding-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
    text-decoration: none;
    color: #000;
}

.navcontainer a img
{
    height: 25px;
    margin-right: 10px;
}


input[type=text], select, textarea
{
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    border-radius: 5px;
    width: 500px;
    margin-left: 50px;
}

.searchicon
{
    margin-left: -30px;
    margin-right: 100px;
}




#rekomendasi
{
    max-width: 1140px;
    margin: auto;
    margin-top: 200px;
}


#diskon
{
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
}

#promo
{
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
}


.itemrekomendasi
{
    display: flex;
    background: #FEA201;
    background: linear-gradient(180deg, #FEA201 0%, #fff 100%, #fff 100%);
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 0px 5px 10px #4D4D4D;
}

.itemdiskon
{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.item1
{
        background-color: #FEA201;
        background: linear-gradient(180deg, #FEA201 0%, #fff 100%, #fff 100%);
        padding: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: #fff;
        border-radius: 20px;
        justify-content: left;
        display: flex;
        justify-content: first baseline;
        width: 450px;
        box-shadow: 0px 5px 10px #4D4D4D;
}

.item1 img
{
    width: 100px;
    height: 100px;
}

.item1text
{
    margin-left: 20px;
}




div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.item a
{
    text-decoration: none;
    color: #000;
}


.itempromo
{
    display: flex;
    justify-content: space-between;
}






#footer
{
    width: 100%;
    bottom: 0;
    background-color: #fff;
    padding-top: 5vh;
    margin-top: 10vh;
}

.footer
{
    max-width: 1140px;
    margin: auto;
    display: grid;
    align-items: center; 
    grid-template-columns: 150px 500px 1fr;
}

.footer p
{

    color: #000;
    font-size: 50px;
    font-weight: 500;
}


.footer2
{
    max-width: 1140px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}



.footer2 h3
{
    margin-bottom: 20px;
}



.footerlogo img
{
    margin-right: 20px;
    margin-top: 10px;
}

.footer2-2
{
    max-width: 500px;
}



.footer2 span
{
    height: 40vh;
}



/*user catering*/

#cateringrekomendasi {
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
}

.cateringrekomendasi
{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.cateringitem {
    width:200px;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
}
.cateringitem a
{
    text-decoration: none;
    color: #000;
    text-align: left;
}

.cateringitem a span {
    font-size: 25px;
    font-weight: 500;
}


/*userprofile*/


#userprofile {
    max-width: 1140px;
    margin: auto;
    margin-top: 200px;
}

.profile-container {
    background-color: #fff;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.profile-container img {
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
}

.profile {
    margin-left: 50px;
    padding: 50px;
}

.username {
    display: flex;
    margin-bottom: 30px;
}

.nama {
    display: flex;
    margin-bottom: 30px;
}

.nama :nth-child(2) {margin-left: 83px;}

.email {
    display: flex;
    margin-bottom: 30px;
}

.email :nth-child(2) { margin-left: 100px; }
.email :nth-child(3) { margin-left: 20px; text-decoration: underline;}

.no-telepon {
    display: flex;
    margin-bottom: 30px;
}

.no-telepon :nth-child(2) { margin-left: 50px;}
.no-telepon :nth-child(3) { margin-left: 20px; text-decoration: underline;}

.gender {
    display: flex;
    margin-bottom: 30px;
}

.gender :nth-child(2) {margin-left: 30px;}
.gender :nth-child(3) {margin-left: 30px;}

.tanggal {
    display: flex;
    margin-bottom: 30px;
}

.profile-submit :nth-child(1) {
    background-color: #4D4D4D;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
}

.profile-submit :nth-child(2) {
    background-color: #FF3131;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
}


/*catering detail*/


#catering-detail {
    max-width: 1140px;
    margin: auto;
    margin-top: 200px;
}


.top-catering {
    background-color: #FEA201;
    display: flex;
    padding: 50px;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    border-radius: 8px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 8px 8px 0 #a1a1a1;
}

.top-catering-text {
    margin-left: 50px;
}
.top-catering-text2 {
    margin-left: 50px;
}



.top-catering-text h1 {
    color: #fff;
    font-size: 50px;
}

.top-catering-text :nth-child(2) {
    font-size: 13px;
}

.top-catering-text :nth-child(3) {
    font-size: 20px;
    border-bottom: 2px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.top-catering-text2 ul {margin-left: 50px; margin-top: 20px;}

.bandung {
    color: #000; 
    border: 2px solid #fff; 
    margin-left: 50px; 
    border-radius: 10px; 
    padding: 2px 20px 2px 20px;
    text-decoration: none;
}

.bandung img { margin-right: 10px; margin-bottom: -1px;}



.pilih-paket {
    margin-top: 50px;
}

.pilih-paket h1 {
    margin-top: 100px;
}


.pilih-paket-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
}




.pilih-paket div p  {font-size: 30px;}

.pilih-paket-1 div button {
    padding: 5px 70px 5px 70px;
    margin: auto;
    margin-left: 10px;
    background-color: #F3F8FF;
    border-radius: 20px;
    margin-top: 10px;
    font-size: large;
    cursor: pointer;
}





.penilaian h1 {
    margin-top: 100px;
}

.penilaian-container {
    background-color: #FEA201;
    width: 1140px;
    padding: 50px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 8px 8px 0 #a1a1a1;
    margin-top: 50px;
}


.penilaian-user {display: flex;}


.logo-penilaian-user {
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
}


.text-penilaian-user {
    margin-left: 50px;
}

.bintang-penilaian {display: flex;}

.gambar-penilaian img {width: 100px; height: auto; margin-top: 30px; margin-bottom: 30px;}


.penilaian-page {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 200px 1px 200px;
    margin-top: 50px;
    font-size: 30px;
    border-top: 1px solid #000;
}

.penilaian-page :nth-child(1) {font-weight: 700; font-size: 30px;}
.penilaian-page :nth-child(7) {font-weight: 700; font-size: 30px;}




/*paket 1 detail*/


.top-paket-1 {
    background-color: #FEA201;
    display: flex;
    padding: 50px;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    border-radius: 8px;
    max-width: 650px;
    margin: auto;
    box-shadow: 0 8px 8px 0 #a1a1a1;
}


.paket-1-image div img {
    width: 150px;
    height: 150px;
}

.paket-1-text {margin-left: 50px;}

.paket-1-text h1 {
    color: #fff;
    font-size: 50px;
}

.paket-1-text :nth-child(2) {
    font-size: 13px;
}

.paket-1-text :nth-child(3) {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
}

.paket-1-plus-minus {
    display: flex;
    color: #fff;
    margin-left: 10px;
    margin-top: 130px;
    margin-bottom: -100px;
}

.paket-1-plus-minus p {
    margin-left: 30px;
    font-weight: 600;
}

.paket-1-plus-minus :nth-child(1) {
    background-color: #000;
    padding: 0px 7px ;
    border-radius: 50%;
    color: #FEA201;
}

.paket-1-plus-minus :nth-child(2) {
    color: #000;
}


.paket-1-plus-minus :nth-child(3) {
    background-color: #000;
    padding: 0px 7px ;
    border-radius: 50%;
    color: #FEA201;
}

.buffet-pilih h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1140px;
    text-align: center;
    background-color: #FEA201;
    color: #fff;
    border-radius: 15px;
    padding: 5px;
}

.form-buffet {
    display: grid;
    margin-left: 250px;
    width: 1000px;
}

.form-buffet div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 630px;
    margin-bottom: 10px;
}

.form-buffet-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-buffet-label {
    font-size: 20px;
}


.lanjut {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1140px;
    text-align: center;
    background-color: #4d4d4d;
    color: #fff;
    border-radius: 10px;
    border: #fff solid 2px;
    padding: 5px 20px 5px 20px;
    font-size: larger;
}


/* Pesanan */


.top-pesanan {
    width: 700px;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    margin: auto;
    box-shadow: 0 8px 8px 0 #a1a1a1;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top-pesanan-1 span {font-weight: 600;}


.top-pesanan-2 a {
    border: #000 1px solid;
    text-decoration: none;
    color: #000;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    font-size: 12px;
}


.middle-pesanan {
    background-color: #fff;
    display: flex;
    padding: 20px;
    border: #FEA201 solid 2px;
    border-radius: 5px;
    max-width: 700px;
    margin: auto;
    justify-content: space-between;
    margin-top: 5px;
}


.pesanan-1-image div img {
    width: 200px;
    height: 150px;
}

.pesanan-1-text {margin-left: -50px;}

.pesanan-1-text h1 {
    font-size: 20px;
}

.pesanan-1-text :nth-child(2) {
    font-size: 13px;
}

.pesanan-1-text :nth-child(3) {
    font-size: 20px;
    margin-top: 50px;
    font-weight: 600;
}

.pesanan-1-plus-minus {
    display: flex;
    color: #fff;
    margin-left: 10px;
    margin-top: 130px;
    margin-bottom: -100px;
}

.pesanan-1-plus-minus p {
    margin-left: 10px;
    font-weight: 600;
}

.pesanan-1-plus-minus :nth-child(1) {
    padding: 0px 7px ;
    border-radius: 50%;
    border: #000 1px solid;
    color: #000;
}

.pesanan-1-plus-minus :nth-child(2) {
    color: #000;
    font-weight: 700;
}


.pesanan-1-plus-minus :nth-child(3) {
    padding: 0px 7px ;
    border-radius: 50%;
    border: #FEA201 1px solid;
    color: #FEA201;
}



.pasang-voucher {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
}

.pasang-voucher-box {
    width: 600px;
    border: #FEA201 solid 1px;
    border-radius: 2px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}


.pesanan-metode {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
}

.metode-pembayaran {
    display: flex;
    justify-content: space-between;
}

.metode-pembayaran p {margin-left: 250px;}

.metode-pembayaran img {
    width: 30px;
    height: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}


.metode-pembayaran-1 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 5px;
    max-width: 600px;
}

.metode-pembayaran-2 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    max-width: 600px;
    border-top: #000 solid 2px;
    padding-top: 5px;
    margin-bottom: 30px;
}


.pesanan-metode a {
    margin: auto;
    text-decoration: none;
    color: #fff;
    background-color: #FEA201;
    padding: 5px 100px 5px 100px;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 10px;
    border: #fff solid 2px;
    width: 500px;
    text-align: center;
}
